#news {
    padding-top: 85px;

    .p-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
        padding-left: 16px;
        background-color: #ededed;

        .__container {
            max-width: 1122px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 8.5px;
            padding-bottom: 8.5px;
            background-color: #ededed;
            gap: 16px;

            a {
                font-size: 13px;
                font-weight: 500;
                color: #333333;
                text-decoration: none;
            }


        }
    }

    .__absolute {
        max-width: 454px;
        width: 100%;
        position: absolute;
    }

    .p-pagettl {
        max-width: 1440px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 160px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

        @include media-sp {
            background-size: cover;
            padding-left: 10%;

        }

        .__container {
            position: relative;
            ;
            max-width: 1440px;
            padding-top: 104px;
            padding-bottom: 88px;

            &:before {
                position: absolute;
                content: '';
                width: 454px;
                height: 479px;
                left: -290px;
                bottom: -220px;
                background-image: url('../img/fv/center_mark.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            @include media-sp {
                padding-top: 104px;
            }

            .en-ttl {
                color: rgba(233, 81, 78, 0.6);
                font-size: 25px;
                font-weight: 700;

                @include media-sp {
                    font-size: 20px;
                }
            }

            .jp-ttl {
                color: #333333;
                font-weight: 700;
                font-size: 42px;

                @include media-sp {
                    font-size: 48px;
                }
            }

            .company_header_smallcircle {
                position: absolute;
                width: 30px;
                left: 310px;
                top: 190px;
            }

            .company_header_bigcircle {
                position: absolute;
                width: 20px;
                left: 300px;
                top: 200px;
                animation: animatecircle 2s linear infinite;
            }

            @keyframes animatecircle {
                0% {
                    scale: 1;
                }

                50% {
                    scale: 1.5;
                }

                100% {
                    scale: 1;
                }

            }

            .aboutfv_image {
                position: absolute;
                width: 351px;
                height: 398px;
                right: 0;
                bottom: 16.7px;

                @include media-sp {
                    opacity: 0.1 !important;
                }
            }

            .aboutfv_image_circle {
                position: absolute;
                right: 280px;
                top: 60px;
                width: 20px;
                animation: circleanimate 2s linear infinite;

                @include media-sp {
                    opacity: 0.1 !important;
                }

            }

            @keyframes circleanimate {
                0% {
                    scale: 1;
                }

                50% {
                    scale: 1.4;
                }

                100% {
                    scale: 1;
                }

            }

        }
    }

    .p-newsmain {
        max-width: 1024px;
        margin: auto;

        @include media-sp {
            max-width: 1024px;
            padding: 0 50px;
        }

        .__container {
            .p-newsmain-mainblock {
                
                .__newsmain-item {
                    &:first-child {
                        border-top: 2px solid #bebebe;
                    }

                    .__item-ttl {
                        padding-top: 24px;
                        font-size: 20px;
                        display: block;
                        text-decoration: none;
                    }

                    .__item-cat_list {
                        padding-top: 16px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 16px;

                        a {
                            padding: 4px 16px;
                            color: #e9514e;
                            border: 1px solid #e9514e;
                            font-size: 13px;
                            border-radius: 50px;
                            text-decoration: none;
                            transition: all 0.3s;

                            &:hover {
                                background-color: #e9514e;
                                color: white;
                            }

                        }
                    }
                }
            }

            .p-newsmain-rightblock {
                .__sade-cat {
                    .__cat-body {
                        @include media-sp {
                            padding: unset;
                            max-height: 0;
                        }

                        a {
                            padding: 16px 8px;
                            border-bottom: 2px solid #bebebe;
                            font-size: 16px;
                            text-decoration: none;
                            transition: all 0.3s;

                            &:hover {
                                background-color: #e1e1e1;
                                padding: 16px 16px;
                            }

                            @include media-sp {
                                border-bottom: unset;
                                padding: 17px 8px;
                            }
                        }
                    }

                    .__item-collapse__mark {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        padding: 10px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }

                    .__item-collapse__mark-container {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        span {
                            position: absolute;
                            height: 1px;
                            width: 15px;
                            background: #000;
                            display: block;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            &:first-child {
                                transition: transform 0.5s;
                                transform: translate(-50%, -50%) rotate(90deg);
                            }
                        }
                    }

                    @include media-sp {
                        &:first-child {
                            border-top: 2px solid #bebebe;
                        }
                    }
                }

            }
        }
    }
}